<h1 class="display-4">Articles</h1>
<table class='table table-stripped'>
    <thead>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>name</th>
            <th scope='col'>Description</th>
            <th scope='col'>Removing article</th>
            <th scope='col'>Editing article</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>
                <button (click)="removeArticle(item.id)">Remove</button>
            </td>
            <td>
                <button (click)="editArticle(item.id)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>